<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title></title>
 </head>
 <body>
 hello world
 {% for post in posts %}
     <div>
     <h1>{{ post.header }}</h1>
        {{ post.text }}
     </div>
 {% endfor %}
 <div>
 </div>
 </body>
</html>